    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" id="w-nav">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li class="open">
                        <a class="text-center sidebar-sub-toggle"> 
                            <i class="ti-home"></i>
                            Workspace
                            <button class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="New Workspace"><i class="ti-plus"></i></button>
                            <button class="btn btn-xs" data-toggle="tooltip" data-placement="top" title="Search Workspace"><i class="ti-search"></i></button>
                        </a>
                        <ul>
                            <li><a href="index.html">Workspace 1</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->