{% include 'partial/cssAssets.twig' %}

    {% include 'partial/header.twig' %}
        <div class="row">
            <div class="col-lg-12">
                <div class="user-workspace">
                    <div class="col-lg-3">
                        <div class="wp-card">
                            <button class="btn wp-btn btn-secondary"><p><i class="ti-plus"></i></p>Create Question</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include 'partial/jsAssets.twig' %}